$main-gray: #626262;
$support-gray: #f3f3f3;
$aside: #b4ad9e;
$white: #fff;

$font-small: 16px;
$font-medium: 24px;
$font-big: 32px;
$font-menu: 20px;
$line-height: 1.4em;

$gutter: 32px;
$width-full: 100%;
$width-narrow: 90%;
$font-weight-newsletter: 500;
$navbar__menu-z-index: 1;
$burger-z-index: 2;

$first-breakpoint: 600px;
$second-breakpoint: 900px;
$third-breakpoint: 1200px;
