$main-gray: #626262;
$support-gray: #f3f3f3;
$aside: #b4ad9e;
$white: #fff;

$gutter: 32px;
$fontsize: 16px;
$navbar__menu-z-index: 1;
$burger-z-index: 2;

$first-breakpoint: 600px;
$second-breakpoint: 900px;
$third-breakpoint: 1200px;
