@import "_fonts";
@import "_variables";

html {
  scroll-behavior: smooth;
}
body {
  font-family: Playfair Display, Arial, sans-serif;
  font-size: $font-small;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: $font-small;
  font-weight: 100;
  color: $aside;
  padding-top: calc($gutter / 2);
  margin: 0;
}

h2 {
  font-size: $font-big;
  color: $main-gray;
  font-style: regular;
  padding-top: calc($gutter / 2);
  margin: 0;
}

p {
  margin: 0;
}

header {
  position: sticky;
  top: 0px;
}

.load-section {
  text-align: center;
  padding: $gutter;

  .load-section__button {
    text-align: center;
    font-family: inherit;
    font-size: $font-menu;
    color: $main-gray;
    background-color: white;
    padding: calc($gutter / 2);
    border: 1px solid $main-gray;
  }
}

.newsletter-section {
  background-color: $support-gray;
  padding: calc(4 * $gutter);
  text-align: center;
  font-size: $font-big;
  font-weight: $font-weight-newsletter;

  &__input {
    background-color: inherit;
    border-color: transparent;
    border-bottom: solid 2px $main-gray;
    width: 100%;
  }
}

// partials
@import "./partials/_navbar";
@import "./partials/_teaser-section";
