@import "_fonts";
@import "_variables";

html {
  scroll-behavior: smooth;
}
body {
  font-family: Playfair Display, Arial, sans-serif;
  font-size: $font-small;
}
h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: $font-small;
  font-weight: 100;
  color: $aside;
  padding-top: 15px;
  margin: 0;
}

h2 {
  font-size: $font-big;
  color: $main-gray;
  font-style: regular;
  padding-top: 15px;
  margin: 0;
}

p {
  margin: 0;
}

// Header section

header {
  position: sticky;
  top: 0px;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: $gutter calc($gutter * 2.5);
  flex-wrap: wrap;
  background-color: white;
}

.navbar__banner {
  text-align: center;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
}

.navbar__image {
  max-width: 100%;
  height: auto;
  margin-left: -20px;
  margin-right: -20px;
  object-fit: contain;
}

.navbar__menu {
  display: block;
  position: relative;
  top: 5px;
  left: 5px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;

  a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;

    &:hover {
      color: rgb(57, 60, 243);
    }
  }
}

.navbar__input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;

  &:checked {
    & ~ .navbar__burger-top-bun {
      opacity: 1;
      transform: rotate(45deg) translate(-3px, -2px);
      background: #726f6f;
    }

    & ~ .navbar__burger-patty {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    & ~ .navbar__burger-bottom-bun {
      transform: rotate(-45deg) translate(0, 0);
      background: #726f6f;
    }

    & ~ .navbar__list {
      transform: none;
    }
  }
}

.navbar__burger {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.navbar__burger-top-bun {
  transform-origin: 0% 0%;
}

.navbar__burger-bottom-bun {
  transform-origin: 0% 100%;
}

.navbar__list {
  position: absolute;
  width: 215px;
  right: -83px;
  margin: -115px 0 0 0;
  padding: 50px;
  padding-top: 150px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(0, -500%);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

  li {
    padding: calc($gutter/3) 0;
    font-size: $font-menu;
  }
}

// Main section

.teaser-section__container,
.teaser-section__intro,
.teaser-section__teaser {
  padding-left: $gutter;
  padding-right: $gutter;
}

.teaser-section__intro-comment {
  padding-bottom: calc(3 * $gutter);
}

.teaser-section__banner {
  object-fit: cover;
  width: 100%;
}
.teaser-section__banner-image {
  object-fit: cover;
  margin: 0 auto;
  display: block;
  padding-top: 15px;
  width: 100%;
}
.teaser-section__image {
  object-fit: cover;
  margin: 0 auto;
  display: block;
  padding-top: 15px;
  width: 80%;
  height: 250px;
}
.teaser-section__text {
  font-size: $font-small;
  color: $main-gray;
  font-weight: normal;
  line-height: 1.4em;
  padding: 15px 0;
}

.load-section {
  text-align: center;
  padding: $gutter;

  .load-button {
    text-align: center;
    font-family: inherit;
    font-size: $font-menu;
    color: $main-gray;
    background-color: white;
    padding: calc($gutter / 2);
    border: 1px solid $main-gray;
  }
}

.newsletter-section {
  background-color: $support-gray;
  padding: calc(4 * $gutter);
  text-align: center;
  font-size: $font-big;
  font-weight: 500;

  &__input {
    background-color: inherit;
    border-color: transparent;
    border-bottom: solid 2px $main-gray;
    width: 100%;
  }
}
