.teaser-section__ {
  &content-spacing {
    padding-left: $gutter;
    padding-right: $gutter;
  }

  &banner {
    object-fit: cover;
    width: 100%;
  }

  &image {
    object-fit: cover;
    margin: 0 auto;
    display: block;

    &--banner {
      width: 100%;
    }

    &--teaser {
      width: 80%;
      height: 250px;
    }
  }

  &text {
    font-size: $font-small;
    color: $main-gray;
    font-weight: normal;
    line-height: $line-height;
    padding: calc($gutter / 2) 0;
  }
}
