.teaser-section__ {
  &content-spacing {
    padding-left: calc($gutter / 2);
    padding-right: calc($gutter / 2);
  }

  &container {
    text-align: left;
    margin: 0 auto;
  }
  @include mQ($second-breakpoint) {
    &container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }

  &banner {
    object-fit: cover;
    width: $width-full;
  }
  @include mQ($first-breakpoint) {
    &banner {
      object-fit: cover;
      width: calc($width-full * 1.2);
      margin: 0 calc($gutter * -1);
    }
  }
  @include mQ($second-breakpoint) {
    &banner {
      max-height: 500px;
    }
  }
  @include mQ($third-breakpoint) {
    &banner {
      max-height: 700px;
    }
  }

  &image {
    object-fit: cover;
    margin: 0 auto;
    display: block;
    width: $width-full;

    &--banner {
      width: $width-full;
    }
    @include mQ($second-breakpoint) {
      &--banner {
        max-height: 500px;
      }
    }
    @include mQ($third-breakpoint) {
      &--banner {
        max-height: 700px;
      }
    }

    &--teaser {
      height: calc($gutter * 8);
      object-fit: cover;
      margin: 0 auto;
    }
  }

  &intro-comment {
    padding-bottom: calc($gutter * 2);
  }

  &teaser {
    object-fit: cover;
    width: $width-narrow;
    margin: 0 auto;
  }
  @include mQ($second-breakpoint) {
    &teaser {
      flex-basis: 45%;
    }
  }

  &text,
  &intro-text {
    font-size: $font-small;
    margin: 0 auto;
    color: $main-gray;
    font-weight: normal;
    line-height: $line-height;
    text-align: justify;
    padding: calc($gutter / 2) 0;
  }

  &intro-text {
    width: $width-full;
  }
}
